.home-page {
    margin-top: 100px;
}
.game-text {
    margin: 0 50px;
    overflow-wrap: break-word;
}

Link {
    color: black;
}

.start-game {
    color: blue !important;
    text-decoration: underline;
}