.home-page {
    margin-top: 50px;
}
.game-text {
    margin: 50px 50px 0 50px;
    overflow-wrap: break-word;
    white-space: pre-line;
}

Link {
    color: black;
}

.start-game {
    color: blue !important;
    text-decoration: underline;
}


.game-photo {
  display: block;
  margin: 0 auto auto auto;
  width: 40%;
}